<html>
	<head>
		<title>RTX Notifier Admin</title>
		<meta name="decorator" content="atl.admin" />
	</head>
	<body>
		#if($saved)
		<h3>Saved!</h3>
		#end
		<form id="admin" class="aui" action="" method="POST">
			<div class="field-group">
				<label for="addr">Agent Address:</label>
				<input type="text" id="addr" name="addr" value="$!addr" />
			</div>
			<div class="field-group">
				<label for="port">Agent Port:</label>
				<input type="text" id="port" name="port" value="$!port" />
			</div>
			<div class="field-group">
				<input type="submit" value="Save" />
			</div>
		</form>
	</body>
</html>