<html>
	<head>
		<title>RTX Notifier Admin</title>
		<meta name="decorator" content="atl.admin" />
	</head>
	<body>
		#if($saved)
		<h3>$i18n.getText("rtx.saved.hint")</h3>
		#end
		<form id="admin" class="aui" action="" method="POST">
			<div class="field-group">
				<label for="addr">$i18n.getText("rtx.agent.address"):</label>
				<input type="text" id="addr" name="addr" value="$!addr" />
			</div>
			<div class="field-group">
				<label for="port">$i18n.getText("rtx.agent.port"):</label>
				<input type="text" id="port" name="port" value="$!port" />
			</div>
			<div class="field-group">
				<input type="submit" value="$i18n.getText("rtx.save")" />
			</div>
		</form>
	</body>
</html>